target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
.idea/*
.idea
*.iws
*.iml
*.ipr

/.idea/*
misc.xml

clientid.txt
clientsecret.txt
test-db
